@font-face {
  font-family: "Lato";
  src: font-url("Lato-Regular.ttf") format("truetype"),
    font-url("Lato-Bold.ttf") format("truetype");
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  font-family: Lato, "Lato", serif;
}
