<div class="container mx-auto mt-12">
  <div class="max-w-4xl mx-auto mb-8 flex flex-row items-center space-x-8">
    <div class="bg-purple-popout p-6 rounded-xl">
      <p class="text-green-accent text-5xl font-black">L O L</p>
      <p class="text-green-accent text-5xl font-black">P R O</p>
      <p class="text-green-accent text-5xl font-black">E L O</p>
    </div>
    <div class="bg-purple-popout rounded-xl p-6 my-6 flex-grow min-h-36">
      <p class="text-xl">Some description text here</p>
    </div>
  </div>

  <% @series_by_year_and_league.each do |year, leagues| %>
    <div class="max-w-4xl mx-auto mb-8">
      <h2 class="text-3xl font-semibold mb-4 text-green-accent">
        <%= year %>
      </h2>
      <div class="bg-purple-popout rounded-xl py-6 px-2 grid grid-cols-4 gap-4">
        <% leagues.each do |league_name, series| %>
          <div class="col-span-1 flex flex-col items-center">
            <h3 class="text-3xl font-semibold mb-2"><%= league_name %></h3>
            <ul class="flex flex-col items-center">
              <% series.each do |serie| %>
                <a href="<%= serie[:url] %>"
                  class="text-md my-1 underline hover:text-green-accent"
                  ><%= serie[:name] %>
                </a>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>