<div
  class="container mx-auto mt-12"
>
  <div class="flex justify-between items-center mb-8">
    <%= link_to "← Back", root_path, class: "underline underline-offset-4 px-4" %>
    <h1 class="flex-grow text-center text-5xl">
      <%= "#{@serie.league.name} #{@serie.full_name}" %>
    </h1>
    <%= link_to "← Back", root_path, class: "px-4 invisible" %>
  </div>

  <div class="bg-purple-popout py-8 px-4 border-green-accent border-solid border-2 mb-4 rounded-md">
    <%= content_tag :div,
      id: "chart",
      data: {
        chartData: @chart_data
      }.to_json do %>
    <% end %>
  </div>
</div>